* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.nm{
    color:#00f0ee;
    font-size: 18px;
    font-weight: 500;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #2b292a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #1a404c;
}

.calculator input {
    outline: 0;
    width: 60px;
    height: 60px;
    background-color: #1a404c;
    font-size: 22px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin: 10px;
}

#display{
    background-color: #343434;
    font-size: 40px;
    font-weight: 600;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

#btn-cl {
    background-color: #018f90;
    box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.1);
}

.calculator form div #btn-s {
    width: 145px;
    background-color: #343434;
}
.calculator form div #btn-d {
    height: 75px;
}

.calculator form div #btn-equal {
    width: 145px;
}
.calculator form div #btn-plus {
    height: 75px;
}


#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9{
    background-color: #343434;
}