#contact {
    background-color: #222;
    color: #eee;
    padding: 50px 20px;
    text-align: center;
}

#contact h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: whitesmoke;
}

#contact address ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}

#contact address ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

#contact address ul li i {
    margin-right: 10px;
    color: papayawhip;
}

.social-links {
    margin-bottom: 30px;
}

.social-links a {
    margin: 0 10px;
    color: #eee;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff6347;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    font-size: 1.2em;
    color: firebrick;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #eee;
    font-size: 1em;
}

#contact-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8C1717;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #ff4500;
}
